<h1>Client::UserAddress#index</h1>
<p>Find me in app/views/client/user_address/index.html.erb</p>

<h1>Address List</h1>

<table class="table">
  <thead>
  <td>genre</td>
  <td>name</td>
  <td>street address</td>
  <td>phone number</td>
  <td>remark</td>
  </thead>
  <% @user_addresses.each do |address| %>
    <tr>
      <td><%= address.genre %></td>
      <td><%= address.name %></td>
      <td><%= address.street_address %></td>
      <td><%= address.phone_number %></td>
      <td><%= address.remark %></td>
      <td></td>
    </tr>
  <% end %>
  <%= link_to 'New Address', new_client_user_address_path %>
</table>