<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-sm-12 col-md-11 col-lg-10 col-xl-9 col-xxl-8">
        <div class="mt-3">
          <div class="row d-flex">
            <div class="col-6">
              <div class="card mb-4" style="border-radius: 0;">
                <div class="card-body">
                  <div class="container">
                    <%= image_tag @item.image.url, height: "400", class: "mx-auto d-block w-100" %>>
                  </div>
                  <p class="mt-2"> <%= @item.name %></p>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" aria-label="Warning striped example" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>

                <%= form_with model: @bet, url: client_lottery_index_path, method: :post do |f| %>

                  <div class="input-group">
                    <button type="button" data-action="click->button#betMinus" data-value="1" class="bi bi bi-dash-square btn btn-light"></button>
                    <%= f.number_field :coins, class: "form-control text-center", value: 1, data: { button_target: 'coins' } %>
                    <%= f.hidden_field :item_id, value: params[:id] %>
                    <button type="button" data-action="click->button#betPlus" data-value="1" class="bi bi bi-plus-square btn btn-light"></button>
                  </div>

                  <%= f.submit "Submit", class: " form-control btn btn-warning my-2" %>

                <% end %>

                <div class="row d-flex">
                  <p class="text-center"><b>Serial Numbers</b></p>
                </div>

                <% @client_serial_number.each do |serial_number| %>
                  <div class="col 6">
                    <p class="text-center"><%= serial_number.user.serial_number %></p>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-4 text-end">
          <button type="button" class="btn btn-light">More...</button>
        </div>
      </div>
    </div>
  </div>
</section>