<%= form_with model: @winner, url: admin_winners_path, method: :get do %>

  <%= text_field_tag :serial_number, params[:serial_number], placeholder: "Enter serial number" %>
  <%= text_field_tag :item_name, params[:item_name], placeholder: "Enter item name" %>
  <%= text_field_tag :email, params[:email], placeholder: "Enter email" %>
  <%= select_tag :state, options_for_select(['betting', 'won', 'lost', 'cancelled'],params[:state]), include_blank: true, class: "btn btn-warning dropdown-toggle"  %>
  <%= date_field_tag :start_date, params[:start_date] %>
  <%= date_field_tag :end_date, params[:end_date] %>

  <%= submit_tag "Submit", class: "btn btn-primary btn-block" %>
<% end %>

<table>
  <thead>
  <td>Serial Number</td>
  <td>Item Name</td>
  <td>Email</td>
  <td>State</td>
  <td>Start date to End date</td>
  </thead>
  <% @winners.each do |winner| %>
    <tr>
      <td><%= winner.bet.serial_number %></td>
      <!--      <td><%#= winner.item.name %></td>-->
      <td><%= winner.user.email %></td>
      <td><%= winner.state %></td>
      <td><%= winner.created_at %></td>
      <td><%= button_to 'Submit', admin_winner_submit_path(winner), data: {turbo: false}, class: "btn btn-danger" if winner.may_submit? %></td>
      <td><%= button_to 'Pay', admin_winner_pay_path(winner), data: {turbo: false}, class: "btn btn-danger" if winner.may_pay? %></td>
      <td><%= button_to 'Ship', admin_winner_ship_path(winner), data: {turbo: false}, class: "btn btn-danger" if winner.may_ship? %></td>
      <td><%= button_to 'Deliver', admin_winner_deliver_path(winner), data: {turbo: false}, class: "btn btn-danger" if winner.may_deliver? %></td>
      <td><%= button_to 'Publish', admin_winner_publish_path(winner), data: {turbo: false}, class: "btn btn-danger" if winner.may_publish? %></td>
      <td><%= button_to 'Remove Publish', admin_winner_remove_publish_path(winner), data: {turbo: false}, class: "btn btn-danger" if winner.may_remove_publish? %></td>
  <% end %>
  </tr>
</table>